<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <ChatBot.Settings>
            <setting name="password" serializeAs="String">
                <value>oauth:0jntbnwgau5meswuwxrlnv7waqu239</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>lexamillionpegaluthor</value>
            </setting>
        </ChatBot.Settings>
    </applicationSettings>
</configuration>